th
{
    background: linear-gradient(#fcfcfc,#d0d0d0)
}
.fa
{
    cursor: pointer;
}
.glyphicon{
    cursor: pointer;
}
.glyphicon-save
{
    color:#0050b0;
}

.glyphicon.glyphicon-remove-circle
{
     color:#000;
     font-size: 18px;
     margin-top: 3px;
}
.loader{
    position:absolute;
    top:50%;
    left:45%;
}
th{
    cursor: pointer;
}
th .fa{
    color:#2050c0;
}
input{
    margin-bottom: 5px;
}
.alert{
    display: inline-block;
    height:30px;
    padding: 3px 30px;
    margin: 0px;
}