.pointer {
  cursor: pointer;
}

.page-header {
  margin-top: 0
}

.loader {
  min-height: 70px;
}

.loader>preloader {
  position: absolute;
  bottom: 0px
}

.alert{
    display: inline-block;
    height:30px;
    padding: 3px 30px;
    margin: 0px;
}