<!--פירורי לחם להתמצאות במערכת-->
<div class="row">
    <breadcrumbs    [navGroup]="'ניהול קבוצות עבודה'" 
                    [operation]="'תהליכים קשורים'" 
                    [element]="currentWorkgroup">
    </breadcrumbs>
</div>

<div class="row">
    <div [ngClass]="{'col-sm-2': !isWideDisplay,'hidden':isWideDisplay}">
        <acg-list (acgSelect)="acgSelect($event)"></acg-list></div>

    <div class="col-sm-2"><workgroup-list [newAcg]="currentAcg"
        (workgroupSelect)="workgroupSelect($event)" (toggleDisplay)="changeDisplay()" 
        [isWideDisplay]="isWideDisplay"></workgroup-list></div>

    <div [ngClass]="{'col-sm-8': !isWideDisplay, 'col-sm-10': isWideDisplay}">
        <spWg-list [currnetWorkgroup]="currentWorkgroup"></spWg-list></div>
</div>